@model SignUpViewModel
@{
    ViewBag.Title = "SignUp";
}


<div>
    <form asp-action="SignUp" method="post">
        <div>
            <h2>SignUp</h2>
        </div>
        <div>
            <div asp-validation-summary="All"></div>
        </div>
        <div>
            <div>
                <div class="field">
                    <label asp-for="Email"></label>
                </div>
                <div>
                    <input asp-for="Email" />
                </div>
            </div>

            <div>
                <div class="field">
                    <label asp-for="Password"></label>
                </div>
                <div>
                    <input asp-for="Password" />
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Create Account" />
        </div>
    </form>
</div>